<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Default Title From Base.html
        {% endblock title %}
    </title>
</head>
<body>

    {% block content%}
    Default Content From Base.html
    {% endblock content %}

    <br>



    {% block content1%}
    Default Content1 From Base.html
    {% endblock content1 %}

    <br>



    {% block content2%}
    Default Content2 From Base.html
    {% endblock content2 %}

    <br>


    {% block content3%}
    Default Content3 From Base.html
    {% endblock content3 %}



    
</body>
</html>