<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} Defalut Title{% endblock title %}</title>
</head>
<body>

    <center>{% block content1 %}
        {% endblock content1 %}</center>

    <center>{% block content2 %}
            {% endblock content2 %}</center>

    <center>{% block content3 %}
                {% endblock content3 %}</center>
    
</body>
</html>