<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nested Data Dic</title>
</head>
<body>
    
    Nested Dic Data: <li>{{stuData}}</li>

    <br>
    split dic into single dic  using . (dot) data of Stu1
    <br>

    Stu1 Data: <li>{{stuData.stu1}}</li>

    <br>
    split dic into single dic  using . (dot) data of Stu2
    <br>

    Stu2 Data: <li>{{stuData.stu2}}</li>

    <br>
    split dic into single dic  using . (dot) data of Stu3
    <br>

    Stu3 Data: <li>{{stuData.stu3}}</li>

    <br>
    split dic into single dic  using . (dot) data of Stu4
    <br>

    Stu4 Data: <li>{{stuData.stu4}}</li>

    <br><br>
    Name of stu4 Studen: {{stuData.stu4.name}}

    <br><br>
    Roll no of stu2 Studen: {{stuData.stu2.rn}}

    <br><br>
    Name of stu1 Studen: {{stuData.stu1.name}}
    
</body>
</html>