<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>

    <h1><b>
        Here we Offer Course's
    </b>
    </h1>

    <center>
        <h3><b>Course1: {{c1}}</b></h3>
        <h3><b>Course2: {{c2}}</b></h3>
        <h3><b>Course3: {{c3}}</b></h3>
        <h3><b>Course4: {{c4}}</b></h3>
        <h3><b>Course5: {{c5}}</b></h3>

    </center>


    
</body>
</html>