<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees</title>
</head>
<body>
    

    <ul>
        <li>
            <h3><b>B.Tech: {{btfee}}</b></h3>
            
        </li>
        <li>
            <h3><b>AI: {{aifee}}</b></h3>
            
        </li>
        <li>
            <h3><b>IT: {{itfee}}</b></h3>
            
        </li>
        <li>
            <h3><b>ML: {{mlfee}}</b></h3>
            
        </li>
        <li>
    
            <h3><b>IOT: {{iotfee}}</b></h3>
        </li>
    </ul>


</body>
</html>