<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- add css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <title>Chapter14</title>


</head>
<body>

    <center><h1><b>Hello Django Cahapter14 Home Page</b></h1></center>

    <br>
    <br>
    <center><h2><b>GFG SS</b></h2></center>

    <!-- add image from static file  -->
    <center><img src="{% static 'img/gfg500.png' %}" alt="sorry image not Found"></center>

    <form action="">
        <input type="button" value="Click" onclick="disp()">
    </form>
    <!-- add js file -->
    <script src="{% static 'js/all.js' %}"></script>
    
</body>
</html>