<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Fees</title>
</head>
<body>
    <h1><b>Hello! Django Chapter 8 Fees File</b></h1>

    <h5>All Course's Fees</h5>
    
    
    <pre>
        B Tech : 150000
        AI : 250000
        Machine Learning : 200000
        IT : 80000
        CSE Core 100000
        AWS : 190000
    </pre>
    
</body>
</html>