{% extends 'base.html' %}


{% block Maincontain %}

<div class = 'container mt-5'>
    <h1 class = "text-warning md-5 border-bottom">SERVICES</h1>
    
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4 mt-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-3x mb-3 i-colo"></i>
            <h3>SEO</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laborum, atque voluptatibus incidunt.</p>

        </div>

        <div class="col-sm-4 mt-4">
            <i class="fa-solid fa-palette fa-3x mb- i-colo"></i>
            <h3>Web Digining</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laborum, atque voluptatibus incidunt.</p>

        </div>

        <div class="col-sm-4 mt-4">
            <i class="fa-solid fa-code fa-3x mb-3 i-colo"></i>
            <h3>Coding</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laborum, atque voluptatibus incidunt.</p>

        </div>
    </div>
</div>


{% endblock Maincontain %}
