<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><b>Hello! Django Chapter 9 StudenInfo Index File</b></h1>

    <!-- here we use a dynamic data using Dynamic Templates File DTL  -->

    <h4>Studen Informantion</h4>

    <pre>
        ID: {{id}}
        Name: {{name}}
        Branch: {{branch}} 
        DOB: {{dob}}
        Contact No: {{cn}}

    </pre>
</body>
</html>