<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    <center><b><h1>Student Registration Form Normal Method</h1></b></center>

    <!-- normal methode  -->
    <center>
        <form action="" method="get">

      
            <table>
                {{form}}
            </table>

            <br>

            <input type="button" value="Submit">
            
    </form>
    </center>

    <hr><br>

    <center><b><h1>Student Registration Form as_p Method</h1></b></center>

    <!-- as_p Method -->
    <center>
        <form action="" method="get">

      
            <table>
                {{form.as_p}}
            </table>

            <br>

            <input type="button" value="Submit">
            
    </form>
    </center>


    <hr><br>

    <center><b><h1>Student Registration Form as_table Method</h1></b></center>

    <!-- as_table Method -->
    <center>
        <form action="" method="get">

      
            <table>
                {{form.as_table}}
            </table>

            <br>

            <input type="button" value="Submit">
            
    </form>
    </center>

    <hr><br>

    <center><b><h1>Student Registration Form as_ul Method</h1></b></center>

    <!-- as_ul Method -->
    <center>
        <form action="" method="get">

      
            <table>
                {{form.as_ul}}
            </table>

            <br>

            <input type="button" value="Submit">
            
    </form>
    </center>
   

    <hr><br>

    <center><b><h1>Student Registration Form name_fo_field Method</h1></b></center>

    <!-- as_p Method -->
    <center>
        <form action="" method="get">

      
            <table>
                {{form.name}}
                {{form.course}}
                
            </table>

            <br>

            <input type="button" value="Submit">
            
    </form>
    </center>
    
</body>
</html>