{% extends 'base.html' %}

{% load static %}

<!-- link my css here  -->
<!-- overwired my core css  -->
    {% block corecss %}
    
    <link rel="stylesheet" href="{% static 'css/course.css' %}">

    {% endblock corecss %}

{% block title%}
Course Page 
{% endblock title%}





{% block content %}
    <center><h1><b>Hello Djnago Chapter 17 Course Page</b></h1></center>
{% endblock content %}

{% block content1 %}
    <center><p>Django Course</p></center>
{% endblock content1 %}

<!-- overwired core img  -->
{% block coreImg %}
    
<center><img src="{% static 'img/gfgImg.png' %}" alt="sorry image not Found"></center> 

{% endblock coreImg %}



