<!DOCTYPE html>
<!-- load my static flie  -->
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- using my css file in here suing static file -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Fees Index</title>
</head>
<body>
    
    <h1>Hello Django Chapter 13 Fees Index</h1>
    <h2>{{name}}</h2>

    <!-- use the static file form my image  -->

    <img src="{% static 'images/lc.png' %}" alt="Opps Image Not Found"> 

    <h3>using get static profix tag</h3>
    <img src="{% get_static_prefix %}images/django.ico" alt="Opps Image Not Found">

    <!-- using my java script file here from static folder  -->

    <form action="">
        <input type="button" value = "Click Me" onclick="display()">
    </form>
    <script src="{% static 'js/all.js' %}"></script> 
    
</body>
</html>