{% load static %}
<!-- <div class="border-right border text-warning h-100"> -->
<div class="border border-warning h-100">
<div class="border-bottom text-warning h-100">

    <div class="text-center">
        <img src="{% static 'img/my.png' %}" alt="MyImage" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
        
        <h3 class="text-white mt-3 st-font">Prince Singh</h3>
    </div>

    

    <hr class="border-light">
    <nav class = "nav flex-column text-center">
        <a href="" class="nav-link">Home</a>
        <a href="" class="nav-link">Skills</a>
        <a href="" class="nav-link">Services</a>
        <a href="" class="nav-link">Contact</a>

    </nav>

</div>
</div>